/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --soft-cyan: hsl(174, 77%, 80%); /* Full Slider Bar */
  --strong-cyan: hsl(174, 86%, 45%); /* Slider Backround */
  --light-grayish-red: hsl(14, 92%, 95%); /* Discount Background */
  --light-red: hsl(15, 100%, 70%); /* Discount Text */
  --pale-blue: hsl(226, 100%, 87%); /* CTA Text */
  --white: hsl (0, 0%, 100%); /* Pricing Component Background */
  --very-pale-blue: hsl(230, 100%, 99%); /* Main Background */
  --light-grayish-blue: hsl(224, 65%, 95%); /*  Empty Slider Bar */
  --light-grayishs-blue: hsl(223, 50%, 87%); /* Toggle Background */
  --grayish-blue: hsl(225, 20%, 60%); /* Text */
  --dark-desaturated-blue: hsl(227, 35%, 25%); /* Text & CTA Background */
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* Style */
.whale-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200rem;
  background-color: var(--very-pale-blue);
  background-size: 200%;
}
